header {
    text-align: center;
    background-color: #857676;
    margin-bottom: 20px;
    padding: 10px;
}

a {
    margin: 0 10px;
    color: #800000;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.active {
    color: #400000;
    text-decoration: underline;
}