
.landing-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

label {
    color: #800000;
}

input {
    margin : 20px 20px
}

h2 {
    text-align: center;
    color: #800000;
    margin-bottom: 100px;
}

img {
    margin-bottom: 50px;
}
.landing-links {
    width: 100%;
    text-align: center;
}

button {
    font-size: 20px;
}